<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include ('blocks/header') -%> 
    <main>
        <h1>Страница про нас</h1>
        <p>Сайт выполнил студент группы ИСиТ4-1б, <em>Чуреев Дмитрий</em></p>
    </main>
</body>
</html>