<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include ('blocks/header') -%>
    <main>
        <h1>Главная страница</h1>
        <p>Этот сайт сделан только лишь с целью тренировки и наработки навыков в использовании Докер-контейнеров. Функционал сайта заключается в переходе по страницам "Главная", "О нас", а также в отображении страниц пользователей при вводе имени в поле ввода</p>
    </main>
</body>
</html>